.PostUser {
    display: flex;
    flex-flow: column;
    padding: .5rem 1rem;
    padding-top: 1rem;
    align-items: center;
    background-color: cornsilk;

}

.ProfilePicture {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    padding: 1rem;
}

.TotalPosts {
    padding: 1rem;
}