.NodeSelection{
    cursor: pointer;
    display: inline-block;
}
.ThreadSelection{
    cursor: pointer;
    display: inline-block;
}
.NodeSelection:hover{
    background-color: #bbb;
}
.ThreadSelection:hover{
    background-color: rgb(114, 201, 230);
}