.Post {
    display: flex;
    margin: 5rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .2);
}

.RightSide {
    display: flex;
    overflow: hidden;
    flex-flow: column;
    padding: 1rem;
}

.Content {
    margin-bottom: auto;
}