.SubCategory {
    display: flex;
    padding: 1rem;
    background-color: lightblue;
    align-items: center;
    font-size: 1rem;
}



.SubCategory:not(:last-child) {
    border-bottom: 2px solid rgb(73, 136, 187);
}

.PushRight {
    margin-right: auto;
}

.PostCount {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}

.LastThreadInfo {
    width: 22rem;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
}

.lastThreadLink, .Title {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.lastThreadLink:hover .Name, .Title:hover {
    color: #0059A7;
}


.Name, .Title {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

/* .Name:hover {
    color: #0059A7;
} */

.Part1 {
    width: 35rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

@media (max-width: 750px){
    .PostCount {
        display: none;
    }
}

@media (max-width: 700px){
    .Part1 {
        width: 25rem;
    }

    .LastThreadInfo {
        width: 17rem;
    }
}

@media (max-width: 550px){
    .SubCategory {
        flex-direction: column;
    }

    .LastThreadInfo {
        margin-top: 1rem;
        margin-left: auto;
        width: max-content;
        margin-right: 2rem;
    }

    .User, .Name, .NameNone {
        display: none;
    }

    .Date {
        text-decoration: underline;
    }

    .Date:hover {
        color: #0059A7;
    }

    .Part1 {
        width: 100%;
    }
}